# Compiled class file
*.class

# Log file
*.log

out
target
.idea
*.iml
.gradle
gradle

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# ReactJS App
# dependencies
/src/main/webapp/reactjs/node_modules
/src/main/webapp/reactjs/.pnp
/src/main/webapp/reactjs/.pnp.js

# testing
/src/main/webapp/reactjs/coverage

# production
/src/main/webapp/reactjs/build

# misc
/src/main/webapp/reactjs/.DS_Store
/src/main/webapp/reactjs/.env.local
/src/main/webapp/reactjs/.env.development.local
/src/main/webapp/reactjs/.env.test.local
/src/main/webapp/reactjs/.env.production.local

/src/main/webapp/reactjs/npm-debug.log*
/src/main/webapp/reactjs/yarn-debug.log*
/src/main/webapp/reactjs/yarn-error.log*




# ReactJS App screen-recording-doctor
# dependencies
/src/main/webapp/screen-recording-doctor/node_modules
/src/main/webapp/screen-recording-doctor/.pnp
/src/main/webapp/screen-recording-doctor/.pnp.js

# testing
/src/main/webapp/screen-recording-doctor/coverage

# production
/src/main/webapp/screen-recording-doctor/build

# misc
/src/main/webapp/screen-recording-doctor/.DS_Store
/src/main/webapp/screen-recording-doctor/.env.local
/src/main/webapp/screen-recording-doctor/.env.development.local
/src/main/webapp/screen-recording-doctor/.env.test.local
/src/main/webapp/screen-recording-doctor/.env.production.local

/src/main/webapp/screen-recording-doctor/npm-debug.log*
/src/main/webapp/screen-recording-doctor/yarn-debug.log*
/src/main/webapp/screen-recording-doctor/yarn-error.log*
