<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/script.js" type="text/javascript"></script>
    <link rel="stylesheet" href="css/style.css"/>
</head>

<script>

</script>

<style>

</style>

<body>
<p>some text</p>
<h1>Hello</h1>
<h2>Hello</h2>
<h3>Hello</h3>
<h4>Hello</h4>
<h5>Hello</h5>
<h6>Hello</h6>

<a href="http://yandex.ru"><img src="https://images.wallpaperscraft.com/image/cat_cute_tie_striped_25956_2048x1152.jpg"></a>
<img src="https://images.wallpaperscraft.com/image/cat_cute_tie_striped_25956_2048x1152.jpg">

<table>
    <tr>
        <th>Column1</th>
        <th>Column2</th>
        <th>Column3</th>
    </tr>
    <tr>
        <td>Info1</td>
        <td>Info2</td>
        <td>Info3</td>
    </tr>
    <tr>
        <td>Info1</td>
        <td>Info2</td>
        <td>Info3</td>
    </tr>
</table>
</body>
</html>