.wrapperDoctors {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    grid-gap: 1em;
    grid-auto-rows: minmax(100px, auto);
}

.item {
    background-color: white;
    padding: 0;
    position: relative;

    text-align: center;
    border: 3px #ffc58e solid;
    border-radius: 0 1em;
    box-shadow: 1px 1px 10px 5px #F8F9FB;
}

.item a {
    color: blue;
    text-decoration: none;

    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.selectedSpecialityGrid {
    /*background-color: #deffed;*/
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-auto-rows: minmax(20px, auto);
    grid-gap: 1em;
    margin-bottom: 1em;
    position: relative;
}

.item.back {
    padding-left: 2em;
    padding-right: 2em;
}

.outerTitleSpeciality {
    text-align: center;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}